#contact-form input[type="text"],
#contact-form input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.contact-div {
  margin: 20px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
  padding: 40px;
}
.contact-div p {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}
@media (min-width: 600px) {
  .contact-div {
    margin: 150px;
  }
}

@media (min-width: 1000px) {
  .contact-div {
    margin: 0 150px;
  }
}